---
import Base from "@layouts/Base.astro";
---

<Base className="flex flex-col items-center justify-center">
  <section class="p-1 flex flex-col underline">
    <a href="/map">Map</a>
    <a href="/nomap">No Map</a>
  </section>
</Base>
