---
import Base from "@layouts/Base.astro";
import Tooltip from "@components/Tooltip.svelte";

const tooltips = Array.from({ length: 300 }).map((_, i) => [`tooltip${i}`, `this is a tooltip${i}.`]);
---

<Base className="flex flex-col items-center justify-center">
  <div class="flex flex-col">
    a
    {tooltips.map((tooltip) => <Tooltip tooltip={{ title: tooltip[0], description: tooltip[1] }} client:idle />)}
  </div>
</Base>
